<p id="notice"><%= notice %></p>

<p>
  <strong>Seat Row:</strong>
  <%= @reservation.seat_row %>
</p>

<p>
  <strong>Seatcolumn:</strong>
  <%= @reservation.seat_column %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
